/*=============================================================
    Author: Thomás Georgiou

    Authour URL: www.bojanstapleton.com/teampages/tgeorgiou

    License: NONE

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================

============================================================ */

.ArtistPic {
    max-width: 720px;
    max-height: 660px;
    width: auto;
}