/*=============================================================
    Author: Thomás Georgiou

    Authour URL: www.bojanstapleton.com/teampages/tgeorgiou

    License: NONE

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================

============================================================ */

a:link {
color: rgb(255, 255, 255);
}
a:visited {
color: rgb(255,255,255);
}
a:hover {
/*color: rgb(255,50,50);*/
color: rgb(50,200,50);

}